
<section style="height: 100%;">
	<ion-header-bar class="bar bar-header">
	  <button style="margin-top: 2%;width: 60px;" class="button button-icon icon button-back" ng-click="myGoBack()"></button>
	  <img ng-src="{{paramDetails.profile_image}}" class="chat-user-image" style="margin-top: 1%;">
	  <span class="chat-user-name" style="margin-top: 2% !important;width: 70%" ng-show="individualChatFlag">{{paramDetails.username}}  <div id="mck-tab-status" class="mck-tab-status mck-truncate n-vis" style="font-size:11px;margin-top: -5px; "></div>
                                        <div class="mck-typing-box mck-truncate n-vis" style="font-size:11px;margin-top: -5px;><span class="name-text"></span><span>typing...</span></div></span>
		<span class="chat-user-name" style="margin-top: 2% !important;width: 70%" ng-hide="individualChatFlag">{{groupDetails.block_name}}  <div id="mck-tab-status" class="mck-tab-status mck-truncate n-vis" style="font-size:11px;margin-top: -5px;></div>
                                        <div class="mck-typing-box mck-truncate n-vis" style="font-size:11px;margin-top: -5px;><span class="name-text"></span><span>typing...</span></div></span>
		<button class="button button-icon icon  close-button-setting custom-button-group toggle-class-left"  ng-show="displaySideBar" ng-click="toggleSideBar()" style="margin-right: 20px;width: 40px;"></button>
		<button style="margin-top: 2%;margin-right: 20px;width: 40px;" class="button button-icon icon custom-button-group button-setting toggle-class-left chat-user-setting" ng-show="!displaySideBar" ng-click="toggleSideBar()"></button>
	</ion-header-bar>
	<ion-content >
	<div id="mck-side-panel">
            <div id="mck-sidebox" class="mck-sidebox mck-box fade" style="width: 100%;">
                <div class="mck-box-dialog mck-box-sm mck-right mck-bg-white" style="width: 100%;">
                    <div id="mck-sidebox-content" class="mck-sidebox-content mck-box-content">
                        <div id="mck-conversation-header" class="mck-conversation-header mck-truncate n-vis"></div>
                        <div class="mck-box-top" style="display: none;">
                            <button type="button" class="mck-minimize-icon mck-box-close mck-close icon n-vis"><span aria-hidden="true">&minus;</span></button>           
                            <div class="blk-lg-2 move-right">
                                <button type="button" class="mck-box-close mck-close-sidebox" data-dismiss="mckbox" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="blk-lg-10">
                                <div id="mck-tab-individual" class="mck-row n-vis">
                                    <div class="mck-tab-link blk-lg-4"><a href="#" role="link" class="mck-conversation-tab-link"><span class="mck-icon-backward"></span></a></div>
                                    <div class="blk-lg-8 mck-box-title">
                                        <div id="mck-tab-title" class="mck-tab-title mck-truncate">
                                            Conversations
                                        </div>
                                        <div id="mck-tab-status" class="mck-tab-status mck-truncate n-vis"></div>
                                        <div class="mck-typing-box mck-truncate n-vis"><span class="name-text"></span><span>typing...</span></div>
                                    </div>
                                </div>
                                <div id="mck-tab-conversation" class="mck-row">
                                    <h4 id="mck-conversation-title" class="mck-box-title mck-truncate">Conversations</h4>
                                </div>
                            </div>
                        </div>
                        <div id="mck-product-group" class="mck-tab-panel mck-btn-group mck-product-group">
                            <div id="mck-product-box" class="mck-product-box n-vis mck-dropdown-toggle" data-toggle="mckdropdown" aria-expanded="true">
                                <div class="mck-row">
                                    <div class="blk-lg-10">
                                        <div class="mck-row">  
                                            <div class="blk-lg-3 mck-product-icon"></div>
                                            <div class="blk-lg-9">
                                                <div class="mck-row">
                                                    <div class="blk-lg-8 mck-product-title mck-truncate"></div>
                                                    <div class="move-right mck-product-rt-up mck-truncate blk-lg-4">
                                                        <strong class="mck-product-key"></strong>:<span class="mck-product-value"></span>                                
                                                    </div>
                                                </div>
                                                <div class="mck-row">
                                                    <div class="blk-lg-8 mck-truncate mck-product-subtitle"></div>
                                                    <div class="move-right mck-product-rt-down mck-truncate blk-lg-4">
                                                        <strong class="mck-product-key"></strong>:<span class="mck-product-value"></span>                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blk-lg-2">
                                        <span class="mck-caret n-vis"></span>
                                    </div>
                                </div>
                            </div>
                            <ul id="mck-conversation-list" class="mck-dropdown-menu menu-right mck-conversation-list n-vis" role="menu"></ul>
                        </div>
                        <div id="mck-tab-option-panel" class="mck-tab-panel mck-top-btn-panel">
                            <div id="mck-tab-menu-box" class="mck-tab-menu-box vis">
                                <div class="mck-row">
                                    <div class="blk-lg-12">
                                        <button type="button" id="mck-show-more" class="mck-show-more mck-tab-message-option mck-btn-light mck-btn mck-btn-default" title="Show More">
                                            <span>Show More</span>
                                        </button>
                                    </div>
                                    <div class="blk-lg-2" style="display:none;">
                                        <div class="mck-dropdown-toggle" data-toggle="mckdropdown" aria-expanded="true">
                                            <img src="applozic/css/app/images/mck-icon-menu.png" alt="Tab Menu">
                                        </div>
                                        <ul id="mck-tab-menu-list" class="mck-dropdown-menu mck-tab-menu-box menu-right" role="menu">
                                            <li class="mck-tab-message-option">  
                                                <a href="#" id="mck-delete-button" class="mck-delete-button menu-item" title="Delete All">
                                                    Delete All
                                                </a>
                                            </li>
                                            <li id="li-mck-block-user"> 
                                                <a href="#" id="mck-block-button" class="menu-item" title="Block User">
                                                    Block User
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mck-box-body">
                            <div id="mck-message-cell" class="mck-message-cell">
                                <div id="mck-price-widget" class="mck-row mck-price-widget mck-top-widget n-vis">
                                    <div class="mck-widget-panel">
                                        <input type="text" id="mck-price-text-box" placeholder="Enter final agreed price">
                                        <button type="button" id="mck-price-submit" class="mck-btn mck-btn-green mck-price-submit" title="Submit">
                                            <span>Submit</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="mck-message-inner"></div>
                                <div id="mck-contact-loading" class="mck-loading">
                                    <span class="mck-icon-loading"></span>
                                </div>
                                <div id="mck-show-more-icon" class="mck-show-more-icon n-vis">
                                    <h3>No more conversations!</h3>
                                </div>
                            </div>
                        </div>
                        <div id="mck-file-menu" class="mck-file-menu">
                            <div class="mck-row">
                                <div class="blk-lg-6 mck-left mck-pt10">
                                    <label id="mck-file-up" class="fileinput-button mck-file-upload" title="Files &amp; Photos">
                                        <a href="#">
                                            <div class="mck-menu-icon">
                                                <span class="mck-icon-photo"></span>
                                            </div>
                                            <p class="mck-truncate" title="File &amp; Photos">Files &amp; Photos</p></a>
                                        <input class="mck-file-input" type="file" name="files[]">
                                    </label>
                                </div>
                                <div class="blk-lg-6 mck-pt10">
                                    <a id="mck-btn-loc" href="#" class="mck-btn-loc">
                                        <div class="mck-menu-icon">
                                            <span class="mck-icon-marker-blue"></span>
                                        </div>
                                        <p class="mck-truncate" title="Location">Location</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="mck-sidebox-ft" class="mck-box-ft">
                            <div class="mck-box-form n-vis">
                                <p id="mck-msg-error" class="mck-sidebox-error n-vis"></p>
                                <div id="mck-msg-response" class="mck-box-response n-vis">
                                    <div id="mck-response-text" class="response-text"></div>
                                </div>
                                <form id="mck-msg-form" class="vertical mck-msg-form">
                                    <div class="mck-form-group n-vis">
                                        <label class="sr-only placeholder-text control-label" for="mck-msg-to">To:</label>
                                        <input class="mck-form-cntrl" id="mck-msg-to" name="mck-msg-to" placeholder="To" required>
                                    </div>
                                    <div class="mck-form-group last last-child">
                                        <label class="sr-only placeholder-text control-label" for="mck-textbox">Message</label>
                                        <div id="mck-textbox-container" class="mck-textbox-container">
                                            <div class="mck-blk-2 mck-text-box-panel move-left">
                                                <div class="mck-blk-12">
                                                    <button type="button" id="mck-btn-smiley" class="mck-btn mck-btn-smiley mck-btn-text-panel" title="Smiley"><span class="mck-icon-smiley-blue"></span></button>
                                                </div>
                                            </div> 
                                            <div class="mck-blk-2 mck-text-box-panel mck-mid-panel move-left">
                                                <div id="mck-attachmenu-box" class="mck-blk-12">
                                                    <button type="button" id="mck-btn-attach" class="mck-btn mck-btn-text-panel mck-btn-attach" aria-expanded="true" title="Attach File"><span class="mck-icon-upload"></span></button>
                                                </div>
                                                <div id="mck-attachfile-box" class="mck-blk-12 n-vis">
                                                    <label id="mck-file-up2" class="fileinput-button mck-file-upload move-right" title="Attach File">
                                                        <button type="button" class="mck-btn mck-btn-text-panel" title="Attach File"><span class="mck-icon-upload"></span></button>
                                                        <input class="mck-file-input" type="file" name="files[]">
                                                    </label>
                                                </div>
                                            </div>
                                            <div id="mck-text-box" contenteditable="true" class="mck-blk-8 mck-text-box mck-text required"></div>
                                            <div class="mck-blk-2 mck-text-box-panel move-right">
                                                <div class="mck-blk-12">                                       
                                                    <button type="submit" id="mck-msg-sbmt" class="mck-btn mck-btn-text-panel" title="Send Message"><span class="mck-icon-send"></span></button>
                                                </div>
                                            </div>
                                            <div id="mck-file-box" class="mck-file-box row-fluid n-vis">
                                                <div class="mck-file-expr">
                                                    <span class="mck-file-content blk-lg-8"><span class="mck-file-lb"></span>&nbsp;<span class="mck-file-sz"></span></span>
                                                    <span class="progress progress-striped active blk-lg-3" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><span class="progress-bar progress-bar-success bar"></span></span>
                                                    <span class="move-right">
                                                        <button type="button" class="mck-box-close mck-remove-file" data-dismiss="div" aria-hidden="true">x</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="mck-contacts-content" class="mck-contacts-content mck-text-center">
                                <button type="submit" id="mck-msg-new" class="mck-msg-new mck-btn mck-btn-blue" title="new message">
                                    <span>New Message</span>
                                </button>                        
                            </div>
                        </div>
                    </div>
                    <div id="mck-sidebox-search" class="mck-sidebox-search mck-sidebox-content mck-box-content n-vis">
                        <div class="mck-box-top">
                            <div class="mck-box-title mck-truncate">
                                <div class="mck-tab-link blk-lg-4">
                                    <a href="#" role="link" class="mck-conversation-tab-link"><span class="mck-icon-backward"></span></a>
                                </div>
                                <div class="mck-input-group blk-lg-8">
                                    <input type="text"  id="mck-search"  data-provide="typeahead" placeholder="Search..." autofocus />
                                    <span class="mck-search-icon"><a href="#" role="link" class="mck-tab-search"><span class="mck-icon-search"></span></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="mck-box-body">
                            <div id="mck-search-cell" class="mck-message-cell">
                                <div class="mck-message-inner">
                                    <ul id="mck-search-list" class="mck-search-list mck-contact-list mck-nav mck-nav-tabs mck-nav-stacked"></ul>
                                </div>
                                <div id="mck-search-loading" class="mck-loading n-vis">
                                    <span class="mck-icon-loading"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mck-loc-box" class="mck-box fade" aria-hidden="false">
                <div class="mck-box-dialog mck-box-md">
                    <div class="mck-box-content">
                        <div class="mck-box-top">
                            <button type="button" class="mck-box-close" data-dismiss="mckbox" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="mck-box-title">Location Sharing</h4>
                        </div>
                        <div class="mck-box-body">
                            <div class="mck-form-group">
                                <div class="blk-sm-10">
                                    <input id="mck-loc-address" type="text" class="mck-form-control" placeholder="Enter a location" autocomplete="off">
                                </div>
                            </div>
                            <div id="mck-map-content" style="width: 100%; height: 280px;"></div>                
                            <div class="n-vis">
                                <label class="blk-sm-2 mck-control-label">Lat.:</label>
                                <div class="blk-sm-3"><input type="text" id="mck-loc-lat" class="mck-form-control"></div>
                                <label class="blk-sm-2 mck-control-label">Long.:</label>
                                <div class="blk-sm-3"><input type="text" id="mck-loc-lon" class="mck-form-control"></div>
                            </div>
                        </div>
                        <div class="mck-box-footer">
                            <button id="mck-my-loc" type="button" class="mck-my-loc mck-btn mck-btn-green" >My Location</button>
                            <button id="mck-loc-submit" type="button" class="mck-btn mck-btn-blue mck-loc-submit move-right">Send</button>
                            <button type="button" class="mck-btn mck-btn-default move-right" data-dismiss="mckbox">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	</ion-content>

<div class="float-right" id="settings-popup" ng-show="displaySideBar">
		<ion-list style="background: #848484; height: 100%;">
			<ion-item class="grey-background ion-non-height" ng-click="toggleSideBar();showUserInfo()" ng-class="{'ion-height': individualChatFlag}">
			<div class="setting-no-div" ng-class="{'setting-div': individualChatFlag}">
      	<img class="settings-images" src="images/Main_Contacts.png" alt="contact info"/>
				<span class="settings-text">Contact Info</span>
				</div>
			</ion-item>
			<ion-item class="grey-background ion-non-height" ng-click="toggleSideBar();GetotherPhonenumber()" ng-class="{'ion-height': individualChatFlag}">
			<div class="setting-no-div">
				<img class="settings-images" src="images/Settings_Call.png" alt="call" />
				<span class="settings-text">Call</span>
				</div>
			</ion-item>
			<ion-item class="grey-background ion-non-height" ng-show="UserisBlocked" ng-click="unBlockUser();toggleSideBar();" ng-class="{'ion-height': individualChatFlag}">
			<div class="setting-no-div">
				<img class="settings-images" src="images/Settings_Block.png" alt="block" />
				<span class="settings-text">UnBlock</span>
				</div>
			</ion-item>
			<ion-item class="grey-background ion-non-height" ng-hide="UserisBlocked" ng-click="blockUser();toggleSideBar();" ng-class="{'ion-height': individualChatFlag}" id="">
			<div class="setting-no-div">
				<img class="settings-images" id="mck-block-button" src="images/Settings_Block.png" alt="block" />
				<span class="settings-text">Block</span>
				</div>
			</ion-item>
			<ion-item class="grey-background ion-non-height" ng-hide="individualChatFlag" ng-click="toggleSideBar();" ng-class="{'ion-height': individualChatFlag}">
			<div class="setting-no-div">
				<img class="settings-images" src="images/Settings_Tools.png" alt="settings" />
				<span class="settings-text">Settings</span>
				</div>
			</ion-item>
			<ion-item class="grey-background ion-non-height" ng-hide="individualChatFlag" ng-click="logOut();" ng-class="{'ion-height': individualChatFlag}">
			<div class="setting-no-div">
				<img class="settings-images" src="images/Settings_Tools.png" alt="settings" />
				<span class="settings-text">Log Out</span>
				</div>
			</ion-item>
		</ion-list>
	</div>
</section>
